input {
  background: #f0f0f0;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 14px 18px;
  color: $black;
  @extend %font-light;
  font-size: 14px;
  line-height: 18px;
  min-width: 264px;
  -webkit-appearance: none;
}

button {
  background: $primary;
  @extend %pointer;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: $white;
  @extend %font-semibold;
  border: none;
  outline: none;
  @extend %pos-relative;
  &:hover {
    background: $primary-hover;
  }
  &.secondary {
    background: $white;
    color: $primary;
    border: 1px solid $primary;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
  &.smaller {
    padding: 7px 10px;
    font-size: 14px;
    &:after {
      top: 12px;
    }
  }
  &.nude {
    border: none;
  }
}

button#confirming::after {
  display: none;
}

button#finalconfirm::after {
  display: none;
}

button.filter {
  border: 1px solid #bebebe;
  border-radius: 4px;
  background: transparent;
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  padding: 12px;
}

button.filter > img {
  margin-right: 8px;
}

button.filter::after {
  display: none;
}

button.pagination {
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 14px;
  background: #f9f9f9;
  color: #8d288c;
  border: 0.5px solid #bbbbbb;
  max-height: 36px;
  min-height: 36px;
}

button.pagination::after {
  display: none;
}

input.calender {
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 4px;
  max-width: 156px;
  min-width: 156px;
  min-height: 40px;
  max-height: 40px;
  outline: none;
  padding: 0 18px 0 18px;
  color: #101010;
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none;
}

input.search {
  background: #f5f6fa;
  border: 1px solid #bebebe;
  border-radius: 4px;
  margin-top: 20px;
  min-width: 480px;
  max-height: 40px;
}

input.merchant {
  @extend .calender;
  background: #fff;
  max-width: 100%;
  width: 100%;
  border: 1px solid rgba(135, 135, 135, 0.4);
  font-size: 16px;
  font-family: Lato-Regular, sans-serif;
}

// for login
input.login {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
  width: 100%;
}

.correct-fill {
  position: absolute;
}

.no-fill-warning {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  color: red;
  background: #fff;
  width: 99%;
  left: 1px;
  padding-left: 15px;
}

.onboarding-fill {
  @extend .correct-fill;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
